#### 1.	พิมพ์ชื่อและรหัสนิสิตไว้ที่บรรทัดแรก

In [1]:
print("น.ส.กนิษฐา วงศ์สุวรรณ")

น.ส.กนิษฐา วงศ์สุวรรณ

#### 2.	โหลดไฟล์ชื่อ accidents.csv เข้ามาอยู่ใน DF จากนั้นตัดคอลัมน์รหัสจังหวัด รหัสโรงพยาบาล และการนำ ส่งทิ้งไป เปลี่ยนชื่อคอลัมน์ให้เหมาะสม แล้วแสดง 5 บรรทัดแรกของ DF

In [2]:
import pandas as pd
import numpy as np
acc = pd.read_csv('accidents.csv')

In [3]:
acc

,ชื่อเทศกาล,รหัสจังหวัด,จังหวัด,รหัส รพ.,ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ,วันที่เกิดเหตุ,เวลาเกิดเหตุ,เพศ,อายุ,ถนนที่เกิดเหตุ,สถานะ,รถผู้บาดเจ็บ,รถคู่กรณี,มาตรการ,การดื่มสุรา,การนำส่ง,Refer-Admit,ผลการรักษา,จำนวนวันรักษา
0,ปีใหม่ 51,10,กรุงเทพมหานคร,11630,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,มูลนิธิ/อาสาสมัคร,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,31,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
214946,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,30,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
214947,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,30,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ALS,ส่งต่อก่อน admit,ทุเลา/หาย,0
214948,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,31,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,FR,ส่งต่อก่อน admit,ทุเลา/หาย,0
214949,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ส่งต่อก่อน admit,ทุเลา/หาย,0

In [4]:
# ตัด column ทิ้ง
acc = acc.drop(['รหัสจังหวัด', 'รหัส รพ.', 'การนำส่ง'], axis=1)
acc.columns = ["year", "province", "hospital", "date", "time", "gender", "age",
                    "road", "status", "car_acc","car_opponent", "safty", "alcohol",
                    "admit","result","numDay"]
acc

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay
0,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,31,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214946,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,30,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214947,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,30,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214948,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,31,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214949,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0

In [5]:
# แสดงบรรทัดแรกๆ
acc.head(5)

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay
0,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,31,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0

#### 3.	จำนวนอุบัติเหตุที่เกิดขึ้นทั้งหมดมีกี่ครั้ง

In [6]:
# accident.shape[0]
len(acc)

214950

#### 4.	จำนวนอุบัติเหตุที่มีผลการรักษาเป็น “ทุเลา/หาย” มีกี่ครั้ง

In [7]:
len(acc.loc[ acc['result'] == 'ทุเลา/หาย'])

211386

#### 5.	ถนนที่เกิดอุบัติเหตุมีการจำแนกเป็นประเภทใดบ้าง (hint: ลองศึกษาการใช้ method unique())

In [8]:
acc.road.value_counts()

ชนบท       105636
ทางหลวง     61258
ในเมือง     42075
ไม่ทราบ      5981
Name: road, dtype: int64

In [9]:
# จำแนกประเภท
np.unique(acc.road)

array(['ชนบท', 'ทางหลวง', 'ในเมือง', 'ไม่ทราบ'], dtype=object)

#### 6.	อุบัติเหตุที่ส่งผลให้ต้องรักษาผู้ประสบอุบัติเหตุนานกว่า 7 วันมีกี่ครั้ง

In [10]:
# accident.loc[accident.numDay > 7].count()[0]
len(acc.loc[acc['numDay'] > 7])

2126

#### 7.	อุบัติเหตุอย่างเบาที่ให้การรักษาผู้ประสบภัยน้อยกว่าหนึ่งวันก็ทุเลามีกี่ครั้ง

In [11]:
len(acc.loc[(acc['numDay'] < 1) & (acc['result'] == 'ทุเลา/หาย')])

188725

#### 8.	เรียงลำดับข้อมูลตามอายุผู้เกิดเหตุโดยให้อายุมากมาก่อน เลือกแสดงแต่คอลัมน์ปี เพศ และอายุ

In [12]:
acc.sort_values('age', ascending=False).loc[:,['year', 'gender', 'age']]

             year gender  age
59128   ปีใหม่ 53    ชาย   99
86236   ปีใหม่ 54   หญิง   99
86788   ปีใหม่ 54   หญิง   99
59123   ปีใหม่ 53    ชาย   99
59119   ปีใหม่ 53    ชาย   99
...           ...    ...  ...
93913   ปีใหม่ 54    ชาย    0
59608   ปีใหม่ 53    ชาย    0
23839   ปีใหม่ 51    ชาย    0
190791  ปีใหม่ 57    ชาย    0
108545  ปีใหม่ 54    ชาย    0

[214950 rows x 3 columns]

#### 9.	วันที่เกิดเหตุนั้นมีตั้งแต่ 27 (ธันวาคม) จนถึง 5 (มกราคม) แต่การตั้งค่าวันแบบนี้จะทำให้การเรียงลำดับวัน ผิดพลาด ให้แก้วันของเดือนธันวาคมให้เป็นค่าติดลบย้อนหลัง เช่น 31 จะเป็น -1 วันที่ 30 จะเป็น -2 ไป เรื่อยๆ วันของเดือนมกราคมให้คงเดิม (1-5) ส่วนวันที่เป็น 0 ให้ทิ้งแถวนั้นไป
##### จากนั้นแสดงจำนวนแถวที่ เหลือและค่าของวันที่เป็นไปได้ทั้งหมด

In [13]:
acc.loc[acc['date'] == 31, 'date'] = -1
acc.loc[acc['date'] == 30, 'date'] = -2
acc.loc[acc['date'] == 29, 'date'] = -3
acc.loc[acc['date'] == 28, 'date'] = -4
acc.loc[acc['date'] == 27, 'date'] = -5
acc = acc.loc[acc['date'] != 0]
acc

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay
0,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214946,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214947,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214948,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214949,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0

In [14]:
print("row :", len(acc))
print("date:\n", acc.loc[acc.date != 0].date.value_counts())

row : 214949
date:
 -1    41940
 1    39444
-2    35324
 2    24857
-3    23033
 3    16301
 4    12038
-4    11550
-5     6247
 5     4215
Name: date, dtype: int64

#### 10.	เรียงลำดับข้อมูลตามปี วัน และเวลาที่เกิดเหตุจากน้อยไปมาก ถ้าวันเวลาปีตรงกันให้เรียงจากอายุผู้ประสบ อุบัติเหตุจากมากไปน้อย

In [15]:
acc

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay
0,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214946,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
214947,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214948,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0
214949,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0

In [16]:
acc.sort_values(['year', 'date', 'time', 'age'], ascending=[True, True, True, False])

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay
7500,ปีใหม่ 51,จันทบุรี,แหลมสิงห์,-4,01:01-02:00 น.,ชาย,56,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,จักรยานยนต์,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
7488,ปีใหม่ 51,จันทบุรี,แหลมสิงห์,-4,01:01-02:00 น.,หญิง,54,ทางหลวง,ผู้โดยสาร,จักรยานยนต์,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0
16736,ปีใหม่ 51,สกลนคร,กุดบาก,-4,01:01-02:00 น.,ชาย,49,ในเมือง,ผู้ชับขี่,จักรยานยนต์,อื่นๆ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0
20114,ปีใหม่ 51,พะเยา,เชียงคำ,-4,01:01-02:00 น.,ชาย,47,ในเมือง,ผู้โดยสาร,ปิคอัพ,ไม่มี/ล้มเอง,ไม่ใส่,ไม่ดื่ม,admit,ทุเลา/หาย,0
20115,ปีใหม่ 51,พะเยา,เชียงคำ,-4,01:01-02:00 น.,หญิง,44,ในเมือง,ผู้โดยสาร,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,ไม่ใส่,ไม่ดื่ม,admit,ทุเลา/หาย,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199708,ปีใหม่ 58,ขอนแก่น,มัญจาคีรี,5,ไม่ทราบ,ชาย,0,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่,ทุเลา/หาย,0
199936,ปีใหม่ 58,ขอนแก่น,อุบลรัตน์,5,ไม่ทราบ,ชาย,0,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่,ทุเลา/หาย,0
199937,ปีใหม่ 58,ขอนแก่น,อุบลรัตน์,5,ไม่ทราบ,ชาย,0,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่,ทุเลา/หาย,0
199941,ปีใหม่ 58,ขอนแก่น,อุบลรัตน์,5,ไม่ทราบ,ชาย,0,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,ไม่,ทุเลา/หาย,0
209759,ปีใหม่ 58,นครปฐม,สนามจันทร์,5,ไม่ทราบ,หญิง,0,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0

#### 11.	* สร้างคอลัมน์ใหม่ที่เก็บค่า True เมื่อผู้ประสบอุบัติเหตุเสียชีวิต และ เก็บค่า False เมื่อผู้ประสบอุบัติเหตุ หายจากการบาดเจ็บ (hint: สังเกตว่าคอลัมน์”ผลการรักษา”มีข้อมูลอะไรบ้าง)

In [17]:
np.unique(acc.result)

array(['ตายที่ห้องฉุกเฉิน', 'ตายที่เกิดเหตุ', 'ตายระหว่างนำส่ง',
       'ตายระหว่างส่งต่อ', 'ตายในตึกภายใน 24 ชม. หลังเหตุ',
       'ตายในตึกหลัง 24 ชม. - 30 วัน', 'ทุเลา/หาย'], dtype=object)

In [18]:
acc['isDeath'] = False
acc.loc[acc.result.str.contains('ตาย'), 'isDeath'] = True
acc

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\User\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay,isDeath
0,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
1,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0,False
2,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
3,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
4,ปีใหม่ 51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214946,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214947,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214948,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214949,ปีใหม่ 58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False

#### 12.	[2] สรุปรวมจำนวนครั้งที่เกิดอุบัติเหตุแยกตามปี

In [19]:
acc.year.value_counts()

ปีใหม่ 51    30866
ปีใหม่ 53    27936
ปีใหม่ 52    27283
ปีใหม่ 56    26649
ปีใหม่ 55    26131
ปีใหม่ 54    25998
ปีใหม่ 57    25969
ปีใหม่ 58    24117
Name: year, dtype: int64

#### 13.	[2] แสดงจำนวนคนตายแยกตามมาตรการรักษาความปลอดภัยและการดื่มสุรา

In [20]:
print("safty : ", np.unique(acc.safty))
print("alcohol : ", np.unique(acc.alcohol))

safty :  ['เข็มขัด' 'ใส่หมวก' 'ไม่ทราบ' 'ไม่ใส่']
alcohol :  ['ดื่ม' 'ไม่ดื่ม' 'ไม่ทราบ']

In [21]:
# แยกตามมาตรการรักษาความปลอดภัย(safty) & การดื่มสุรา(alcohol)
acc.loc[acc.isDeath].groupby(['safty', 'alcohol']).sum()  #จำนวนคน >> จำนวนคน sum()

                 date    age  numDay  isDeath
safty   alcohol
เข็มขัด ดื่ม      -24    679       3     18.0
        ไม่ดื่ม    19   1759      33     41.0
        ไม่ทราบ   -18   1230       1     34.0
ใส่หมวก ดื่ม      -39   2551      16     67.0
        ไม่ดื่ม   -48   4282      33    101.0
        ไม่ทราบ   -87   2580      26     75.0
ไม่ทราบ ดื่ม      -55   3293      43     84.0
        ไม่ดื่ม   -68   4465      74    115.0
        ไม่ทราบ  -178  22379     141    654.0
ไม่ใส่  ดื่ม     -443  28891     611    886.0
        ไม่ดื่ม  -171  25964     311    730.0
        ไม่ทราบ  -378  26768     125    759.0

#### 14.	[2] บางปีนั้นบางจังหวัดไม่มีบันทึกการเกิดอุบัติเลย จงแสดงชื่อจังหวัดและจำนวนปีที่ไม่มีการเกิดอุบัติเหตุ ในจังหวัดนั้น

In [22]:
np.unique(acc.year)

array(['ปีใหม่ 51', 'ปีใหม่ 52', 'ปีใหม่ 53', 'ปีใหม่ 54', 'ปีใหม่ 55',
       'ปีใหม่ 56', 'ปีใหม่ 57', 'ปีใหม่ 58'], dtype=object)

In [23]:
def cut_newyear(x):
    arr = x.split(" ")
    return arr[1]
acc.year = acc.year.apply(cut_newyear)
acc.year = acc.year.astype(np.int64)
acc

C:\Users\User\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay,isDeath
0,51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
1,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0,False
2,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
3,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
4,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214946,58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214947,58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214948,58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214949,58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False

In [24]:
# ปี >> จำนวนปี : count()
recordProvince = acc.groupby(['province', 'year']).size()
accProvince = pd.DataFrame(recordProvince)
accProvince.columns = ['count_year']
accProvince

                 count_year
province   year
กระบี่     51           276
           52           189
           53           237
           54           179
           55           238
...                     ...
แม่ฮ่องสอน 54           141
           55           112
           56           116
           57           126
           58           147

[608 rows x 1 columns]

In [25]:
index = pd.MultiIndex.from_tuples(recordProvince.index.values, names=['province', 'year'])
tmp = pd.Series(np.zeros(608),index=index) # create series
new_df = pd.DataFrame(tmp)
new_df.columns = ['temp']
new_df

                 temp
province   year
กระบี่     51     0.0
           52     0.0
           53     0.0
           54     0.0
           55     0.0
...               ...
แม่ฮ่องสอน 54     0.0
           55     0.0
           56     0.0
           57     0.0
           58     0.0

[608 rows x 1 columns]

In [26]:
accProvince['temp'] = new_df.temp
accProvince

                 count_year  temp
province   year
กระบี่     51           276   0.0
           52           189   0.0
           53           237   0.0
           54           179   0.0
           55           238   0.0
...                     ...   ...
แม่ฮ่องสอน 54           141   0.0
           55           112   0.0
           56           116   0.0
           57           126   0.0
           58           147   0.0

[608 rows x 2 columns]

In [27]:
data_null = accProvince.unstack().count_year.isnull().sum(axis=1)
provinceNull = pd.DataFrame(data_null)
provinceNull.columns = ['count_Null']
provinceNull

               count_Null
province
กระบี่                  0
กรุงเทพมหานคร           3
กาญจนบุรี               0
กาฬสินธุ์               0
กำแพงเพชร               0
...                   ...
เพชรบุรี                0
เพชรบูรณ์               0
เลย                     0
แพร่                    0
แม่ฮ่องสอน              0

[77 rows x 1 columns]

In [28]:
provinceNull.loc[provinceNull.count_Null > 0,].index

Index(['กรุงเทพมหานคร', 'บึงกาฬ'], dtype='object', name='province')

#### 15.	[2] จงแสดงชื่อจังหวัดที่เกิดอุบัติแต่ไม่มีคนตายในปี 52

In [29]:
acc

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay,isDeath
0,51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
1,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0,False
2,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
3,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
4,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214946,58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214947,58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214948,58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214949,58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False

In [30]:
year52 = acc.loc[acc.year == 52]

g_year52 = year52.groupby("province").sum()
g_year52

                year  date    age  numDay  isDeath
province
กระบี่          9828   197   4881      78      0.0
กรุงเทพมหานคร  87568  2047  46327       1     16.0
กาญจนบุรี      19292   508  10627      59      7.0
กาฬสินธุ์      18668   322   9524       0      3.0
กำแพงเพชร      15340   343   8009       0      5.0
...              ...   ...    ...     ...      ...
เพชรบุรี       12688   391   7256     139      3.0
เพชรบูรณ์      26156   377  14319       5      9.0
เลย            17732   272   8827      75      7.0
แพร่            8944   110   5119     190      3.0
แม่ฮ่องสอน      5304   134   2801      69      0.0

[76 rows x 5 columns]

In [51]:
g_year52.loc[g_year52.isDeath == 0]

            year  date   age  numDay  isDeath
province
กระบี่      9828   197  4881      78      0.0
ระนอง       5252    62  2562      74      0.0
อุทัยธานี   9152   192  4951     146      0.0
แม่ฮ่องสอน  5304   134  2801      69      0.0

#### 16.	[2] แสดงจำนวนจังหวัดที่เกิดอุบัติเหตุแต่ไม่มีคนตายในแต่ละปี (hint: ลองศึกษาการใช้ method any/all)

In [35]:
# isDeath อ้างอิงจาก result
np.unique(acc.result)

array(['ตายที่ห้องฉุกเฉิน', 'ตายที่เกิดเหตุ', 'ตายระหว่างนำส่ง',
       'ตายระหว่างส่งต่อ', 'ตายในตึกภายใน 24 ชม. หลังเหตุ',
       'ตายในตึกหลัง 24 ชม. - 30 วัน', 'ทุเลา/หาย'], dtype=object)

In [42]:
countD = acc.groupby(["year", "province"]).isDeath.sum()
countD

year  province
51    กระบี่            3.0
      กรุงเทพมหานคร    33.0
      กาญจนบุรี         9.0
      กาฬสินธุ์         1.0
      กำแพงเพชร         3.0
                       ...
58    เพชรบุรี          3.0
      เพชรบูรณ์        15.0
      เลย               5.0
      แพร่              3.0
      แม่ฮ่องสอน        1.0
Name: isDeath, Length: 608, dtype: float64

In [52]:
# ใช้ unstack() เพื่อเอา provience > column
countD.loc[countD == 0].unstack().count(axis=1) #axis1 = row

year
51    2
52    4
53    3
54    1
55    5
56    6
57    5
58    4
dtype: int64

#### 17.	[2] แสดงจำนวนปีที่แต่ละจังหวัดมีอุบัติเหตุแต่ไม่มีคนตาย (ไม่ต้องแสดงจังหวัดที่มีคนตายทุกปี)

In [55]:
# แต่ละจังหวัด : province ขึ้นก่อน
g_yearP = acc.groupby(["province", "year"]).isDeath.sum()
g_yearP

province    year
กระบี่      51      3.0
            52      0.0
            53      1.0
            54      5.0
            55      3.0
                   ...
แม่ฮ่องสอน  54      1.0
            55      2.0
            56      1.0
            57      0.0
            58      1.0
Name: isDeath, Length: 608, dtype: float64

In [56]:
g_yearP.loc[g_yearP == 0].unstack().count(axis=1)

province
กระบี่           1
กรุงเทพมหานคร    1
กาฬสินธุ์        1
ตราด             3
นครนายก          1
นครพนม           1
นนทบุรี          1
นราธิวาส         2
บึงกาฬ           1
ปัตตานี          3
พังงา            2
ยะลา             1
ระนอง            1
สระแก้ว          1
สิงห์บุรี        1
หนองคาย          1
อุดรธานี         1
อุตรดิตถ์        1
อุทัยธานี        2
อ่างทอง          1
แม่ฮ่องสอน       3
dtype: int64

#### 18.	[2] แสดงจำนวนโรงพยาบาลในแต่ละจังหวัด

In [61]:
hosP = acc.groupby(['province', 'hospital']).sum()
hosP

                         year  date    age  numDay  isDeath
province   hospital
กระบี่     กระบี่       35851   -39  17726     335      8.0
           คลองท่อม     10181   -72   5159      13      2.0
           ปลายพระยา     5143   -77   2477      19      1.0
           ลำทับ         7787   -74   3757       7      0.0
           อ่าวลึก      11711   -17   6477      33      4.0
...                       ...   ...    ...     ...      ...
แม่ฮ่องสอน ปาย          14970    58   7430     104      1.0
           ศรีสังวาลย์  11586   -64   5570     289      2.0
           สบเมย         2069    -2   1072      13      0.0
           แม่ลาน้อย     4446    46   2224      39      0.0
           แม่สะเรียง   12027  -103   6328     159      1.0

[1232 rows x 5 columns]

In [62]:
# แยกปีออก
hosP.year.unstack().count(axis=1)

province
กระบี่            8
กรุงเทพมหานคร    99
กาญจนบุรี        18
กาฬสินธุ์        15
กำแพงเพชร        12
                 ..
เพชรบุรี         10
เพชรบูรณ์        16
เลย              15
แพร่             10
แม่ฮ่องสอน        7
Length: 77, dtype: int64

#### 19.	[2] แสดงจำนวนอุบัติเหตุตามประเภทรถผู้บาดเจ็บสูงสุด 5 อันดับแรก

In [63]:
acc

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay,isDeath
0,51,กรุงเทพมหานคร,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
1,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,0,False
2,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
3,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
4,51,กรุงเทพมหานคร,กรุงเทพคริสเตียน,-1,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ไม่,ทุเลา/หาย,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214946,58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False
214947,58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214948,58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False
214949,58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False

In [69]:
acc.groupby('car_acc').size().sort_values(ascending=False).head(5)

car_acc
จักรยานยนต์       170991
ปิคอัพ             12902
รถจักรยาน           9814
ไม่มี/ล้มเอง        6474
รถเก๋ง/แท็กซี่      6150
dtype: int64

#### 20.	[2] กรณีที่รถผู้บาดเจ็บเป็นจักรยานยนต์ ให้แสดงจำนวนรถคู่กรณีแต่ละประเภทเรียงจากมากไปน้อย

In [72]:
accBike = acc.loc[acc.car_acc == 'จักรยานยนต์']
accBike.groupby(acc.car_opponent).size().sort_values(ascending=False)

car_opponent
ไม่มี/ล้มเอง      96691
จักรยานยนต์       27674
ปิคอัพ            18276
รถเก๋ง/แท็กซี่    10382
อื่นๆ              7959
ไม่ทราบ            4564
รถจักรยาน          1394
รถบรรทุก           1325
สามล้อเครื่อง       871
รถตู้               785
รถโดยสาร 4 ล้อ      463
รถโดยสารใหญ่        365
สามล้อถีบ           242
dtype: int64

#### 21.	[2] แสดงอายุเฉลี่ยของผู้ประสบอุบัติเหตุแยกตามประเภทรถผู้บาดเจ็บ

In [73]:
acc.groupby(acc.car_acc).age.mean()

car_acc
จักรยานยนต์       28.377359
ปิคอัพ            31.950550
รถจักรยาน         29.159058
รถตู้             33.092559
รถบรรทุก          34.118280
รถเก๋ง/แท็กซี่    32.018049
รถโดยสาร 4 ล้อ    31.661682
รถโดยสารใหญ่      31.755149
สามล้อถีบ         37.070270
สามล้อเครื่อง     36.094439
อื่นๆ             31.170163
ไม่ทราบ           24.245902
ไม่มี/ล้มเอง      27.912728
Name: age, dtype: float64

#### 22.	[2] อายุของคนที่เกิดอุบัติเหตุบ่อยที่สุดคือเท่าไหร่

In [75]:
# จำนวนคน แต่ละช่วงอายุ
g_age = acc.groupby("age").size()
g_age

age
0     4062
1      899
2     1410
3     1539
4     1481
      ...
95       2
96       1
97       3
98       3
99     249
Length: 100, dtype: int64

In [82]:
g_age.loc[g_age == g_age.max()].index[0]

17

#### 23.	[2] แสดงอายุของคนที่เกิดอุบัติเหตุบ่อยที่สุดแยกตามปี

In [107]:
g_ageY = acc.groupby(['year', 'age']).size()
AgeYear = pd.DataFrame(g_ageY)
AgeYear.columns = ['count_numAge']
AgeYear

          count_numAge
year age
51   0             846
     1             129
     2             204
     3             230
     4             210
...                ...
58   90              2
     91              1
     93              2
     95              2
     99              1

[748 rows x 1 columns]

In [108]:
AgeYear.unstack()

     count_numAge                                                          \
age            0      1      2      3      4      5      6      7      8
year
51          846.0  129.0  204.0  230.0  210.0  208.0  180.0  194.0  187.0
52          596.0  114.0  171.0  193.0  195.0  187.0  178.0  169.0  147.0
53          510.0  128.0  209.0  219.0  179.0  193.0  151.0  178.0  154.0
54          532.0  114.0  177.0  191.0  179.0  180.0  160.0  158.0  144.0
55          465.0  102.0  167.0  177.0  201.0  184.0  163.0  139.0  128.0
56          323.0  113.0  179.0  184.0  186.0  172.0  143.0  166.0  172.0
57          409.0  102.0  165.0  141.0  177.0  143.0  170.0  148.0  133.0
58          381.0   97.0  138.0  204.0  154.0  136.0  145.0  142.0  140.0

             ...
age      9   ...   90   91   92   93   94   95   96   97   98     99
year         ...
51    199.0  ...  NaN  NaN  1.0  1.0  NaN  NaN  1.0  NaN  2.0   54.0
52    131.0  ...  1.0  1.0  1.0  NaN  NaN  NaN  NaN  2.0  NaN    7.0
53    159.0  ...  2.0  1.0  NaN  NaN  1.0  NaN  NaN  1.0  NaN  121.0
54    127.0  ...  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   42.0
55    160.0  ...  NaN  NaN  NaN  1.0  1.0  NaN  NaN  NaN  1.0   14.0
56    140.0  ...  2.0  NaN  NaN  1.0  NaN  NaN  NaN  NaN  NaN    7.0
57    129.0  ...  1.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN    3.0
58    131.0  ...  2.0  1.0  NaN  2.0  NaN  2.0  NaN  NaN  NaN    1.0

[8 rows x 100 columns]

In [123]:
maxAgeY = AgeYear.unstack().count_numAge.max(axis=1)
#maxAgeY
#AgeYear.count_numAge.nlargest(1)
AgeYear.loc[AgeYear.count_numAge.isin(maxAgeY), ].groupby(level=0).nlargest(1)

AttributeError: Cannot access callable attribute 'nlargest' of 'DataFrameGroupBy' objects, try using the 'apply' method

#### 24.	[2] แสดงอายุของผู้ที่เกิดอุบัติเหตุบ่อยที่สุด 5 ลำดับ แยกตามปี

In [128]:
gbFas = acc.groupby(["year","age"]).count()
gbFas

          province  hospital  date  time  gender  road  status  car_acc  \
year age
51   0         846       846   846   846     846   846     846      846
     1         129       129   129   129     129   129     129      129
     2         204       204   204   204     204   204     204      204
     3         230       230   230   230     230   230     230      230
     4         210       210   210   210     210   210     210      210
...            ...       ...   ...   ...     ...   ...     ...      ...
58   90          2         2     2     2       2     2       2        2
     91          1         1     1     1       1     1       1        1
     93          2         2     2     2       2     2       2        2
     95          2         2     2     2       2     2       2        2
     99          1         1     1     1       1     1       1        1

          car_opponent  safty  alcohol  admit  result  numDay  isDeath
year age
51   0             846    846      846    846     846     846      846
     1             129    129      129    129     129     129      129
     2             204    204      204    204     204     204      204
     3             230    230      230    230     230     230      230
     4             210    210      210    210     210     210      210
...                ...    ...      ...    ...     ...     ...      ...
58   90              2      2        2      2       2       2        2
     91              1      1        1      1       1       1        1
     93              2      2        2      2       2       2        2
     95              2      2        2      2       2       2        2
     99              1      1        1      1       1       1        1

[748 rows x 15 columns]

In [129]:
sortFas = gbFas.province.sort_values(ascending=False)
sortFas.groupby(level=0).nlargest(5)
#sortFas.nlargest(5)

year  year  age
51    51    17     1381
            18     1313
            16     1258
            15     1202
            20     1115
52    52    17     1120
            18     1117
            16     1048
            19     1018
            15     1015
53    53    18     1197
            17     1162
            16     1115
            19     1044
            15     1007
54    54    18     1078
            17     1050
            16     1008
            15      989
            19      979
55    55    16     1094
            15     1028
            18     1028
            17     1014
            19      887
56    56    16     1144
            17     1090
            18     1060
            15      998
            20      933
57    57    16      991
            18      991
            17      981
            19      918
            20      859
58    58    17     1048
            18      986
            16      956
            19      893
            15      829
Name: province, dtype: int64

#### 25.	[2] โหลดไฟล์ชื่อ provSize.csv เข้ามาอยู่ใน DF ชื่อ prov_area จัดการ clean ข้อมูลให้เรียบร้อย จากนั้น join ตารางนี้ด้วยชื่อจังหวัดเข้ากับตารางข้อมูลผู้เสียชีวิตแยกรายจังหวัดและรายปี แสดงตารางที่ join แล้ว

In [124]:
prov_area  = pd.read_csv("provSize.csv")
prov_area.columns = ["rank","province","Distance"]
prov_area = prov_area.dropna()
#prov_area.loc[]
prov_area

    rank     province    Distance
0      1   นครราชสีมา  20,493.964
1      2    เชียงใหม่  20,107.057
2      3    กาญจนบุรี  19,483.148
3      4          ตาก  16,406.650
4      5  อุบลราชธานี  15,774.000
..   ...          ...         ...
72    73    สมุทรสาคร     872.347
73    74    สิงห์บุรี     822.478
74    75      นนทบุรี     622.303
75    76       ภูเก็ต     543.034
76    77  สมุทรสงคราม     416.707

[77 rows x 3 columns]

In [126]:
provinces = acc.groupby("province").sum()
provinces

                 year  date     age  numDay  isDeath
province
กระบี่          96204  -350   48349     475     20.0
กรุงเทพมหานคร  309237   372  170275     985     68.0
กาญจนบุรี      147239  -117   79347    1048     58.0
กาฬสินธุ์      150093  -550   75687      36     17.0
กำแพงเพชร      110130  -210   59434      10     47.0
...               ...   ...     ...     ...      ...
เพชรบุรี       112684   264   62029    1598     45.0
เพชรบูรณ์      214409 -1140  113138     629     83.0
เลย            131745  -922   68585     441     45.0
แพร่            91231  -695   51934    1617     41.0
แม่ฮ่องสอน      53511  -112   27097     767      6.0

[77 rows x 5 columns]

In [127]:
joinProvince = pd.merge(acc,prov_area,on="province")
joinProvince

,year,province,hospital,date,time,gender,age,road,status,car_acc,car_opponent,safty,alcohol,admit,result,numDay,isDeath,rank,Distance
0,51,สมุทรปราการ,กรุงเทพพระประแดง,-4,18:01-19:00 น.,ชาย,25,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,admit,ทุเลา/หาย,2,False,71,"1,004.092"
1,51,สมุทรปราการ,กรุงเทพพระประแดง,3,06:01-07:00 น.,ชาย,26,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถจักรยาน,ใส่หมวก,ไม่ดื่ม,admit,ทุเลา/หาย,2,False,71,"1,004.092"
2,51,สมุทรปราการ,กรุงเทพพระประแดง,-4,14:01-15:00 น.,ชาย,44,ไม่ทราบ,ไม่ทราบ,รถจักรยาน,ไม่ทราบ,ไม่ทราบ,ไม่ทราบ,admit,ทุเลา/หาย,4,False,71,"1,004.092"
3,51,สมุทรปราการ,กรุงเทพพระประแดง,-2,13:01-14:00 น.,หญิง,34,ทางหลวง,ผู้โดยสาร,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False,71,"1,004.092"
4,51,สมุทรปราการ,กรุงเทพพระประแดง,-3,20:01-21:00 น.,ชาย,16,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ไม่,ทุเลา/หาย,0,False,71,"1,004.092"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209023,58,บึงกาฬ,ศรีวิไล,-1,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False,52,"4,305.0 [5]"
209024,58,บึงกาฬ,ศรีวิไล,-2,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ไม่,ทุเลา/หาย,0,False,52,"4,305.0 [5]"
209025,58,บึงกาฬ,ศรีวิไล,-2,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False,52,"4,305.0 [5]"
209026,58,บึงกาฬ,ศรีวิไล,-1,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False,52,"4,305.0 [5]"
209027,58,บึงกาฬ,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ส่งต่อก่อน admit,ทุเลา/หาย,0,False,52,"4,305.0 [5]"

#### 26.	[2] แสดง 5 จังหวัดแรกที่มีคนตายต่อพื้นที่ที่สูงที่สุดในปี 58

In [130]:
allProvine = joinProvince.loc[:,:"rank"].groupby("province").sum()
allProvine

              year  date     age  numDay  isDeath    rank
province
กระบี่       96204  -350   48349     475     20.0   79560
กาญจนบุรี   147239  -117   79347    1048     58.0    8109
กาฬสินธุ์   150093  -550   75687      36     17.0   77392
กำแพงเพชร   110130  -210   59434      10     47.0   44638
ขอนแก่น     368588 -2779  190644    1445    103.0  101685
...            ...   ...     ...     ...      ...     ...
เพชรบุรี    112684   264   62029    1598     45.0   72205
เพชรบูรณ์   214409 -1140  113138     629     83.0   35487
เลย         131745  -922   68585     441     45.0   34062
แพร่         91231  -695   51934    1617     41.0   52080
แม่ฮ่องสอน   53511  -112   27097     767      6.0    7832

[76 rows x 6 columns]

In [131]:
prov_area = prov_area.set_index("province")
prov_area

             rank    Distance
province
นครราชสีมา      1  20,493.964
เชียงใหม่       2  20,107.057
กาญจนบุรี       3  19,483.148
ตาก             4  16,406.650
อุบลราชธานี     5  15,774.000
...           ...         ...
สมุทรสาคร      73     872.347
สิงห์บุรี      74     822.478
นนทบุรี        75     622.303
ภูเก็ต         76     543.034
สมุทรสงคราม    77     416.707

[77 rows x 2 columns]

In [132]:
pd.join(allProvine,prov_area)

AttributeError: module 'pandas' has no attribute 'join'

In [135]:
withDis = allProvine.join(prov_area.Distance)
withDis

              year  date     age  numDay  isDeath    rank       Distance
province
กระบี่       96204  -350   48349     475     20.0   79560      4,708.512
กาญจนบุรี   147239  -117   79347    1048     58.0    8109     19,483.148
กาฬสินธุ์   150093  -550   75687      36     17.0   77392      6,946.746
กำแพงเพชร   110130  -210   59434      10     47.0   44638      8,607.490
ขอนแก่น     368588 -2779  190644    1445    103.0  101685     10,885.991
...            ...   ...     ...     ...      ...     ...            ...
เพชรบุรี    112684   264   62029    1598     45.0   72205      6,225.138
เพชรบูรณ์   214409 -1140  113138     629     83.0   35487     12,668.416
เลย         131745  -922   68585     441     45.0   34062  11,424.612[2]
แพร่         91231  -695   51934    1617     41.0   52080      6,538.598
แม่ฮ่องสอน   53511  -112   27097     767      6.0    7832     12,681.259

[76 rows x 7 columns]

In [137]:
withDis58 = acc.loc[acc.year == 58,].groupby("province").sum().join(prov_area.Distance)
#withDis58["perDistance"] = withDis58["isDeath"]/withDis58["Distance"]

In [138]:
def toFloat(x):
    if type(x) != float:
        x = x.replace("[","")
        x = x.replace("]","")
        x = x.replace(",","")
    else:
        x = float(x)
    return x
withDis58["Distance"].apply(toFloat).astype(np.float64)

ValueError: could not convert string to float: '4305.0\xa05'

In [139]:
withDis58["Distance"]

province
กระบี่               4,708.512
กรุงเทพมหานคร              NaN
กาญจนบุรี           19,483.148
กาฬสินธุ์            6,946.746
กำแพงเพชร            8,607.490
                     ...
เพชรบุรี             6,225.138
เพชรบูรณ์           12,668.416
เลย              11,424.612[2]
แพร่                 6,538.598
แม่ฮ่องสอน          12,681.259
Name: Distance, Length: 77, dtype: object